

//section main
.main{
    @include for-desktop-up {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .course{
        @include for-desktop-up{
            grid-column: 1 / 2;
            grid-row: 1;
        }
    }
    .article{
        @include for-desktop-up{
            grid-column: 2;
            grid-row: 1;
        }
    }
}

//footer
.footer{
    @include for-desktop-up {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .footer_div1{
        @include for-desktop-up{
            grid-column: 1;
            grid-row: 1;
        }
    }
    .footer_div2{
        @include for-desktop-up{
            grid-column: 2/4;
            grid-row: 1;
        }
    }
    .footer_item{
        @include for-desktop-up{
            display: inline-block;
            width: 30%;
        }
    }
}