/*.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    &_logo{
        grid-column: 1 / 3;
        grid-row: 1;
    }
    &_nav{
        grid-column: 3;
        grid-row: 1;
    }
}*/
@media (min-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 1200px) {
  .main .course {
    grid-column: 1/2;
    grid-row: 1;
  }
}
@media (min-width: 1200px) {
  .main .article {
    grid-column: 2;
    grid-row: 1;
  }
}

/*.footer{
    @include for-desktop-up {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .footer_div1{
        @include for-desktop-up{
            grid-column: 1;
            grid-row: 1;
        }
    }
    .footer_div2{
        @include for-desktop-up{
            grid-column: 2/4;
            grid-row: 1;
        }
    }
    .footer_item{
        @include for-desktop-up{
            display: inline-block;
            width: 30%;
        }
    }
}*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.article {
  border: 1px solid #000000;
  margin: 0.5%;
  margin-top: 2%;
  padding: 2%;
}
.article_h3 {
  padding-top: 2%;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.article_p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2%;
  padding-bottom: 2%;
}
.article_img {
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 50%;
  border: 1px solid #000000;
}
.article_gif {
  display: block;
  margin: auto;
}
.article_list {
  padding-top: 2%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.article_redes {
  padding-top: 2%;
  text-align: center;
  text-decoration: none;
  padding-bottom: 2%;
}
.article_item_redes {
  display: inline-block;
  width: 5%;
}
.article_h3_course {
  background-color: #474b4e;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 1%;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-top: 2%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.footer_item {
  padding-top: 1%;
  padding-bottom: 1%;
}

.header_img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.footer_button {
  background-color: #ffaf6d;
}

.footer_button:hover {
  background-color: #ffffff;
}

.menu {
  padding: 2%;
  background-color: #000000;
  height: 10vh;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}
.menu_img {
  width: 30%;
}
.menu_logo {
  justify-content: flex-start;
  width: 40%;
}
.menu_nav {
  display: none;
  justify-content: flex-end;
  width: 60%;
  padding-left: 60%;
}
@media (min-width: 1200px) {
  .menu_nav {
    display: block;
  }
}
.menu_list {
  display: flex;
  flex-direction: row;
}
.menu_item {
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  padding-right: 10%;
  list-style: none;
}
.menu_item_a {
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .menu-toggler {
    display: none;
  }
}

/*<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="navbar_divlogo"> 
            <a class="navbar-brand" href="#"><span>XDA</span></a>
          </div>
          <button class="navbar-toggler ms-auto justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="nav_bloque collapse navbar-collapse ms-auto justify-content-end" id="navbarSupportedContent">
            <ul class="nav_list navbar-nav  mb-2 mb-lg-0">
              <li class="nav_list_item nav-item">
                <a class="nav_list_a nav-link active" href="#">Mujer</a>
              </li>
              <li class="nav_list_item nav-item">
                <a class="nav_list_a nav-link active" href="#">Hombre</a>
              </li>
              <li class="nav_list_item nav-item">
                <a class="nav_list_a nav-link active" href="#">Accesorios</a>
              </li>
              <li class="nav_list_item nav-item">
                <a class="nav_list_a nav-link active" href="#">Blog</a>
              </li>
          </div>
        </div>
      </nav> 

      .navbar{
        .nav_list{
            @include for-tablet-portrait-up{
                display:flex;
                flex-direction: row;
                }
            @include for-tablet-landscape-up{
                display:flex;
                flex-direction: row;
              }
            @include for-desktop-up{
                display:flex;
                flex-direction: row;
            }

        }
        &-toggler{
            cursor: pointer;
            @include for-tablet-portrait-up{
                display:none;
              }
            @include for-tablet-landscape-up{
                display:none;
              }
            @include for-desktop-up{
                display:none;
            }

        }
        &-nav{
            display: block;
            text-align: center;
            @include for-tablet-portrait-up{
                display:flex;
                flex-direction: row;
               justify-content: space-between;
              }
            @include for-tablet-landscape-up{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
              }
        }
        .nav-link{
            @include for-tablet-portrait-up{
               justify-content: space-between;
              }
            @include for-tablet-landscape-up{
                justify-content: space-between;
              }
        }
        &-toggler:checked {
            display:block;
            @include for-tablet-portrait-up{
                display:none;
              }
            @include for-tablet-landscape-up{
              display:none;
            } 
            @include for-desktop-up{
                display: none;
            }   
        }
        .collapse:not(.show){
            @include for-tablet-portrait-up{
                display:block;
                justify-content: space-between;
                padding-left: 40%;
              }
            @include for-tablet-landscape-up{
                display:block;
                justify-content: space-between;
                padding-left: 40%;
            } 
        }

    }

&-toggler:checked {
    display:block;
    @include for-tablet-portrait-up{
        display:none;
      }
    @include for-tablet-landscape-up{
      display:none;
    } 
    @include for-desktop-up{
        display: none;
    }   
}
.collapse:not(.show){
    @include for-tablet-portrait-up{
        display:block;
        justify-content: space-between;
        padding-left: 40%;
      }
    @include for-tablet-landscape-up{
        display:block;
        justify-content: space-between;
        padding-left: 40%;
    } 
}*/
.footer_input:focus {
  background-color: #ffaf6d;
}

.main {
  margin: 3%;
}

.course {
  border: 1px solid #000000;
}
.course_div {
  margin: 3%;
  padding: 1%;
  border: 1px dotted #000000;
}
.course_h3 {
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding-top: 2%;
}
.course_p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2%;
}
.course_h2 {
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  padding-top: 2%;
}
.course_img {
  width: 100%;
  height: auto;
}
.course_item {
  display: inline-block;
  width: 5%;
  text-decoration: none;
}
.course_list {
  padding-top: 2%;
  padding-bottom: 2%;
}

/*# sourceMappingURL=style.css.map */
