.menu{
    padding:1%;
    background-color: $black;
    height: 30vh;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    @include for-desktop-up{
        height: 12vh;
        display: flex;
        flex-direction: row;
    }
    @include for-tablet-landscape-up{
      height: 20vh;
      display: flex;
      flex-direction: row;
    }
    &_img{
      padding-top: 70px;
        width:60%;
        @include for-tablet-portrait-up{
          width: 40%;
        }
        @include for-tablet-landscape-up{
          width: 25%;
          padding-top:5px;
        }
        @include for-desktop-up{
          padding-top: 5px;
          width:10%;
        }
    }
    &_logo{
        justify-content: flex-start;
        width:40%;
    }
    &_nav{
        display:none;
        align-self: center;
        @include for-desktop-up{
            justify-content: flex-end;
            display:inline-block;
            width:50%;
            padding-left: 10%;
        }
    }
    &_list{
        display:flex;
        flex-direction: column;
        @include for-desktop-up{
            display: flex;
            flex-direction: row;
        }
    }
    &_item{
        align-self: center;
        font-size: $medium;
        font-weight: $bold;
        font-family: $ubuntu;
        list-style: none;
        padding-top: 5px;
        @include for-desktop-up{
            justify-content: space-between;
            padding-right: 10%;
        }
    }
    &_item_a{
        text-decoration: none;
        color:$white;
    }
    &-toggler{
        padding-top: 5px;
        width:60%;
        justify-content: flex-end;
        @include for-desktop-up{
            display:none;
        }
    }
    button{
        background-color: $black !important;
        color: $white !important;
        padding-left: 20%;
    }
    &-toggler-icon{
        background-color: $black !important;
        
    }
    #bars{
        background-color: $black !important;
        color: $white !important;
    }
}