//mover codigo horizontal
@keyframes traslate{
    0% {transform: translateX(150px);}
    100%  {transform: translateX(0px);}
    }
    
//girar la rueda
@-moz-keyframes spin { 50% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 50% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

