
.article{
    border: 1px solid $black;
    margin: 0.5%;
    margin-top: 2%;
    padding:2%;
    &_h3{
        padding-top: 2%;
        text-align: center;
        font-family: $ubuntu;
        font-size: $large;
        font-weight: $bold;
    }
    &_p{
        font-family: $poppins;
        font-size: $medium;
        font-weight: $regular;
        padding-top:2%;
        padding-bottom: 2%;
    }
    &_img{
        display: block;
        margin: auto;
        width:20%;
        border-radius: 50%;
        border: 1px solid $black;
    }
    &_gif{
        display: block;
        margin: auto;
        width: 50%;
        position: relative;
    }
    &_list{
        padding-top: 2%;
        padding-left: 30px;
        font-family: $poppins;
        font-size: $medium;
        font-weight: $regular;
    }
    &_redes{
        padding-top: 2%;
        text-align: center;
        text-decoration: none;
        padding-bottom: 2%;
    }
    &_item_redes{
        display: inline-block;
        width:5%;
        padding-right: 5%;
    }
    &_h3_course{
        background-color: $gray;
        color: $white;
        font-family: $ubuntu;
        font-size: $large;
        font-weight: $bold;
        text-align: center;
        padding:1%;
    }
}
//animaciones
.codigo{
    animation: 2s traslate infinite linear alternate;
}

.rueda{
    animation: 3s spin infinite linear;
    transform-origin: 80% 80%;
}

